@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

 header{
    font-family: 'Kalam', cursive ;
    background: black;
     color: blanchedalmond;
     padding-top: 30px;
     min-height: 70px;
     border-bottom: rgb(247, 212, 232);
font-style: italic ;
color: rgb(153, 110, 136);
}
header  a 
{
color: rgb(219, 198, 217);
text-decoration:none ;
font-size: 16px;
}
header li
{
    float:right;
    display: inline ;
    padding :0 20px  0 20px ;
}
header #branding
 {
float: right ;
 }
 header #branding h1
 {
    margin: 0;
 }
  header nav 
 {
    float: left ;
    margin-top: 10px ;
 }
 header  .highllight, header  .current  a 
 {
     color: rgb(61, 59, 57);
     font-weight : bold ;
 }
 header a:hover 
 {
     color: rgb(190, 121, 30) ;
     font-weight : bold ;
    
 }

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

body{
    font-family: 'Monda', sans-serif;
    padding: 0;
    margin: 0;
    background-color: lavenderblush;
    direction: ltr;
    background-image:url(image/1111.jpg);
    background-size:initial;
    background-position: center;
    color: rgb(248, 244, 244);
}
  nav{color: rgb(153, 74, 163)
  }
  .container
   {
      width: 80%;
      margin: auto;
      overflow: hidden;
  }
  ul
  {
    margin :0 ;
    padding: 0;

  }

  #showcase 
  {
      min-height: 30px;
      text-align: center;
      text-decoration: bisque;
      font-size: 20px;
      margin-top: 100px;
  }
  #showcase h1
  {
      margin-top: 100px;
      font-size: 50px;
      margin-bottom: 100px;
  }
  #newsletter
  {
   margin-left: 10px;
   font-size: 10px;
   margin-top: 20px;
  }
  #boxes 
  {
   margin-left: 0px;
   font-size: 20px;
   margin-top: 10px;


  }